In [9]:
#Exercise 11 - - Create a markdown cell to indicate the Author's name

##Author
Liz Menezes

In [10]:
#Exercise 2 - Create markdown cell with title of the notebook

#Data Science Tools and Ecosystem

In [2]:
#**Exercise 3 - Create a markdown cell for an introduction** Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.

In [11]:
#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- List popular languages for Data Science
- List commonly used Data Science Libraries
- List Open Source Data Science Tools
- Run simple arithmetic expressions in Python

In [3]:
#Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow
4. Keras
5. Scikit-learn

In [4]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter|
|RStudio|
|Apache Zeppelin|
|Spyder|

In [5]:
#Exercise 7 - Create a markdown cell introducing arithmetic expression examples

###Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
#Â This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#Exercise 9 - Create a code cell to convert minutes to hours
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335